{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
<br>
    <h1></h1>
    <script>
        const url = new URL('http://localhost:3000/.well-known/mercure');
        url.searchParams.append('topic', 'http://localhost:8000/uploadFile');
        const eventSource = new EventSource(url);
        eventSource.onmessage = e => {
            document.querySelector('h1').insertAdjacentHTML('afterend', '<div class="alert alert-success">Process started !</div>');
            window.setTimeout(() => {
                const $alert = document.querySelector('.alert');
                $alert.parentNode.removeChild($alert)
            }, 2000);
        };
    </script>
{% endblock %}
