{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {% for message in app.flashes('Invalid product') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('products') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
