{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

    {% for error in errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
    <header>
    <h3 align="center" style="color: #00b89c">
        Create new Product!
    </h3>
    </header>
    {{ include('product/_form.html.twig') }}
    <a href="{{ path('products') }}">back to list</a>
{% endblock %}
